/* Styling for maps creative */ 

/*Styling for initial state */
button {
    background: rgba(0,0,0,0.5);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 0;
    box-sizing: content-box;
    color: #fff;
    font-size: 18px;
    line-height: normal;
    min-width: 0;
    padding: 10px 6px 8px 10px;
    width: auto;
    text-align: center;
    transition: opacity .5s cubic-bezier(0.0,0.0,0.2,1);
    text-shadow: 0 0 4px rgba(0,0,0,0.75);
    cursor: pointer;
}

button:hover {
    background: rgba(0,0,0,0.7);
}

#findNearest{
    position: absolute;
    bottom: 65px;
    padding: 15px;
}

.hidden {
    visibility: hidden;
}

#travelMethod {
    top: 5px;
    position: absolute;
    padding: 5px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 18px;
}

#returnToAd {
    position: absolute;
    bottom: 65px;
    padding: 15px;
}

#skipAd {
    position: absolute;
    bottom: 65px;
    right: 0px;
    padding: 15px;
    padding-right: 30px;
    padding-left: 30px;
}

/*Allows map to display*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/*
 * Display the map in the center of the iframe, 
 * scaled to allow button display
 */
#map {
    height: 96%;
    width: 100%;
    margin: auto;
    top: 170px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.gm-style-mtc {
    top: 58px;
}