/* Styling for maps creative */ 

/*Styling for initial state */
button {
    background: rgba(0,0,0,0.5);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 0;
    box-sizing: content-box;
    color: #fff;
    font-size: 18px;
    line-height: normal;
    min-width: 0;
    padding: 10px 6px 8px 10px;
    width: auto;
    text-align: center;
    transition: opacity .5s cubic-bezier(0.0,0.0,0.2,1);
    text-shadow: 0 0 4px rgba(0,0,0,0.75);
}

button:hover {
    background: rgba(0,0,0,0.7);
}

#findNearest{
    position: absolute;
    bottom: 65px;
    padding: 15px;
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}

#returnToAd {
    position: absolute;
    bottom: 65px;
    padding: 15px;
    cursor: pointer;
}

#skipAd {
    position: absolute;
    bottom: 65px;
    right: 0px;
    padding: 15px;
    cursor: pointer;
    padding-right: 15px;
    padding-left: 15px;
    display: inline;
}

#skipAdLogo {
    height: 30px;
    vertical-align: middle;
    margin: -14px -6px -12px 5px;
    filter: invert(1);
} 

/*Allows map to display*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/*
 * Display the map in the center of the iframe, 
 * scaled to allow button display
 */
#map {
    height: 80%;
    width: 100%;
    margin: auto;
    position: relative;
    top: 215;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    overflow: inherit !important;
}